
@{
    ViewBag.Title = "AcceptUser";
    Layout = null;
}

<h2>You haven't been accepted by SuperAdmin, please try to login later or try to email admin at <a href="mailto:engjell.ahmeti@gmail.com">engjell.ahmeti@gmail.com</a>. 
    Try to login again @Html.ActionLink("Login", "Login", "Account")
    </h2>

