<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Devsone.com</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name,
    </p>

    <p style="font-size:18px;">
        Please click this link <a href="@ViewBag.Link">link</a> to change password.
    </p>
    <p style="font-size:18px;"><i>Engjëll Ahmeti</i></p>
</body>
</html>